mixin item(i)
	if i===null
		li
	else
		li(class=i.r=="true"?'ui-state-disabled':'',id='contextMenu-file-'+i.id)
			if i.params
				a!= _.apply(null,['ctxm-'+prefix+'-'+i.id].concat(i.params))
			else
				a!= _('ctxm-'+prefix+'-'+i.id)
			if i.id=='open' && prefix=='selfile'
				ul
					- each p in programs
						li(title=p.desc,data-program=p.modName)
							a= p.name

- each i in list
	+item(i)
