mixin item(i)
	if i===null
		li
	else
		li(class=i.r?'ui-state-disabled':'',id='contextMenu-'+ns+'-'+i.id)
			a!= i.params?_.apply(null,[i.label||'ctxm-'+prefix+'-'+i.id].concat(i.params)):_(i.label||'ctxm-'+prefix+'-'+i.id)
			if i.id=='open' && prefix=='selfile'
				ul
					- each p in programs
						li(title=_('program-'+p+'-desc'),data-program=p)
							a= _('program-'+p+'-name')

- each i in list
	+item(i)
