each f in files
  - var classes = ['file']
  - if (f.name.substr(0,1)=='.'||f.name.substr(-1)=='~') {classes.push('hidden')}
  - if (!f.readable) {classes.push('restricted')}
  div(class=classes,data-path=base+f.name)
    img.file-img(src=imageForFile(f,true))
    span.file-name(title=f.name)
      = f.name.substr(0,25)
      != f.name.length<25?'':'&#x2026;'
    span.file-size(title=f.type=='directory'?f.size+' items':f.size+' B')!= f.type=='directory'?f.size+' items':(f.readable?f.filesizeFormatted():f.size)
    span.file-date(title=f.date.toLocaleString())!= f.readable?f.dateFormatted(false):f.date
    span.file-type!= f.type