#filesel(class=[multiple?'multiple':'single',preview?'preview':'nopreview',nosel?'nosel':'forcesel'])
	table.top
		tr
			td!= _('filesel-top-name')
			td.name(colspan=2)
				input(id='filesel-name',type='text',value=name)
		tr
			td!= _('filesel-top-pathbar')
			td.pathbar
				//- will be populated by jQuery
			td.create
				button.newfolder!= _('filesel-newfolder')
	.content
		ul.sidebar
			//- will be populated by jQuery
		.files-container
			table.files
				thead
					tr
						th.name= _('dirlist-header-name')
						th.size= _('dirlist-header-size')
						th.date= _('dirlist-header-date')
				tbody!= files
		if preview
			.preview
				//- will be added to upon selection
	select.types
		each type in types
			option(value=type.reg.toString())= type.name