doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(type='text/css', rel='stylesheet', href='/css/jquery-ui.min.css')
		link(type='text/css', rel='stylesheet', href='/css/chosen.css')
		link(type='text/css', rel='stylesheet', href='/css/main.css')
		script(type='text/javascript')!= 'var user = '+JSON.stringify(username)+', homeroot = '+JSON.stringify(homeroot)+';'
		each script in scripts
			script(type='text/javascript', src=script)
	body
		a(href="https://github.com/Scimonster/localBrowse")
			img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png",alt="Fork me on GitHub")
		#content
			header
				a(href='#')
					h1
				h2#back-and-forth
					button#back
						span.ui-icon.ui-icon-arrowthick-1-w
					button#next
						span.ui-icon.ui-icon-arrowthick-1-e
				h2#filepath
			#toolbar
				#toolbar-left
				#toolbar-right
					button#new= _('index-new')
					ul#new-menu
						li#new-dir
							a= _('index-new-dir')
						li#new-file
							a= _('index-new-file')
						li#new-link
							a= _('index-new-link')
						li#new-download
							a= _('index-new-download')
					button#search-bttn= _('index-search')
			#locations-container
				nav#locations
					h3
						span.ui-icon.ui-icon-folder-open
						= _('index-loc-tree')
					#sidebar-tree
						ul
					h3
						span.ui-icon.ui-icon-flag
						= _('index-loc-places')
					#sidebar-places
						ul
							each obj in sidebar
								li
									a(href='#'+obj.url, style='font-weight: bold;')
										if obj.icon
											span.ui-icon(class='ui-icon-'+obj.icon)
										else
											!= obj.span
										= obj.name
					h3
						span.ui-icon.ui-icon-tag
						= _('index-loc-bookmarks')
					div
						button#new-bookmark= _('index-loc-bookmarks-add')
						ul#sidebar-bookmarks
			#file-container
			p#message
