mixin optgroup(label, list)
	optgroup(label=_('props-openwith-'+label))
		each p in list
			option(value=p,title=_('program-'+p+'-desc'),selected=p==defProg)= _('program-'+p+'-name')
- var openers = programs.editorsForFile(i)
- var others = programs.allEditors.filter(function(p){return openers.indexOf(p)==-1})
h4= _('props-openwith-title',i.name,i.type)
select.openwith-program(style='width:100%')
	+optgroup('programs', openers)
	+optgroup('others', others)